<main class="main">
  <form (submit)="onSubmit($event)">
    <div>
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" [field]="userForm.firstName" />
    </div>
    @if (userForm.firstName().touched() && userForm.firstName().invalid()) {
    <div class="error">
      @for (error of userForm.firstName().errors(); track $index) {
      <p>{{ error.message }}</p>
      }
    </div>
    }

    <div>
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" [field]="userForm.lastName" />
    </div>
    @if (userForm.lastName().touched() && userForm.lastName().invalid()) {
    <div class="error">
      @for (error of userForm.lastName().errors(); track $index) {
      <p>{{ error.message }}</p>
      }
    </div>
    }

    <div>
      <label for="email">Email</label>
      <input type="email" id="email" [field]="userForm.email" />
    </div>
    @if (userForm.email().touched() && userForm.email().invalid()) {
    <div class="error">
      @for (error of userForm.email().errors(); track $index) {
      <p>{{ error.message }}</p>
      }
    </div>
    }

    <div>
      <label for="phone">Phone</label>
      <input type="tel" id="phone" [field]="userForm.phone" />
    </div>
    @if (userForm.phone().touched() && userForm.phone().invalid()) {
    <div class="error">
      @for (error of userForm.phone().errors(); track $index) {
      <p>{{ error.message }}</p>
      }
    </div>
    }

    <div>
      <label for="age">Age</label>
      <input type="number" id="age" [field]="userForm.age" />
    </div>
    @if (userForm.age().touched() && userForm.age().invalid()) {
    <div class="error">
      @for (error of userForm.age().errors(); track $index) {
      <p>{{ error.message }}</p>
      }
    </div>
    }

    <br />
    <button type="submit">Create User</button>
  </form>
</main>

<router-outlet />
